html, body {
  margin: 0px;
  padding: 0px;
  background-color: #80818e; /* purple-blue color */
}

.jumbotron {
  margin-top: 25px;
}

a:hover, a:focus {
  text-decoration: none;
}

.circle-shape {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.palettes {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.palettes:hover {
  opacity: .80;
}
